.section-title {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;

    &--blue {
        color: $mainBlue;
    }


    @mixin atSmall {
        font-size: 3.75rem;
        font-weight: 300;
    }
    
    strong {
        font-weight: 500;
    }

    &__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .6rem;
       
       @mixin atSmall{
            position: relative;
            top: 12px;
            display: inline-block;
            margin-right: .5rem;
            margin-left: 0;
            margin-bottom: 0;
       }
    }
}